<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="image in images" ng-cloak>
            <div class="thumbnail">
                <img class="thumbnailimg" src="{{ image.imageSource }}">
                <div class="caption">
                    <h3>{{ image.title }}</h3>
                    <h6>Author: {{ image.author }}</h6>
                    <h6>Uploaded: {{ image.dateUpload }}</h6>
                    <h5 class="currency">Price: {{ image.price }}</h5>
                    <p>
                        <a href="#/image/{{ image.imageID}}" ng-click="viewImageDetailController" class="btn btn-primary" role="button">View Details</a>
                        <a href="#" class="btn btn-default" role="button">Send Message</a></p>
                </div>
            </div>
        </div>
    </div>
</div>